/* common.css */

.ui.header.segment {
    padding-top: 6em;
    padding-bottom: 4em;
}
.ui.main.segment {
    padding-top: 4em;
    padding-bottom: 4em;
}
.ui.footer.segment {
    padding-top: 6em;
    padding-bottom: 6em;
}

@media only screen and (max-width: 767px) {
    .ui.header.segment,
    .ui.main.segment,
    .ui.footer.segment {
        padding-top: 2em;
        padding-bottom: 2em;
    }
}